@import '../../global.scss';

.services {
    // padding: 2rem;

    .section {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .left {
            margin-right: 4rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            
            img {
                max-width: 200px;
            }
            .btn {
                padding: 10px 15px;
                background-color: $light-color;
                border: 0px;
                border-radius: 1rem;
                font-weight: bold;
                color: $main-color;
                transition: 1.2s;
                margin-top: 2rem;
            }
            .btn:hover {
                color: $light-color;
                background-color: $main-color;
                border: 2px $light-color solid;
            }

        }

        .right {

            h1 {
                max-width: 800px;
                
            }

            p {
                font-size: 1.4rem;
                justify-content: center;
                max-width: 700px;
                text-align: justify;
                text-justify: inter-word;
                font-family: 'Satisfy', cursive;
                margin-top: 2rem; 
            }
            ul {
                font-size: 1.4rem;
                margin-top: 2rem;
                font-family: 'Satisfy', cursive;
            }

            
        }
    }
}