@import '../../global.scss';

.header {
    display: flex;
    justify-content: center;
    color: $main-color;
}

.section {
    display: flex;
    flex-direction: row;


    .left {
       
        img {
            margin-top: 2rem;
            margin-left: 4rem;
            max-width: 650px;
            border-radius: 5px;
        }
        img:hover {
            border-radius: 10px;
        }
    }
    
    .right {
        margin-top: 5rem;
        margin-bottom: 10rem;
        background-color: $main-color;
        min-width: 800px;

        .firsttext{
            margin: 5rem;
            max-width: 400px;
            justify-content: center;
            
            .big-text {
                font-family: 'Satisfy', cursive;
                margin-bottom: 1rem;
                font-size: 2rem;
                color: $light-color;
            }

            .small-text {
                font-size: 1.5rem;
                justify-self: center;
                color: white;
            }
        }
    }
}