@import '../../global.scss';

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $main-color;

    .section {
       display: flex;
       justify-content: space-evenly;

        .col1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .logo {
                
                img {
                    max-width: 100px;
                }
            }

            .text {
                font-size: 20px;
                font-weight: bold;
                color: $light-color;
            }
            .address {
                display: flex;
                color: $sec-color;
                align-self: center;
                justify-content: center;
                margin-top: 1rem;

                i {
                    font-size: 2rem;
                    margin: 1rem;
                    color: $light-color;
                }
            }
        }

        .col2 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin-left: 2rem;

            p {
                font-size: 15px;
                font-weight: bold;
                color: $light-color;
            }

        }
        .col3 {
            color: $sec-color;
            font-size: 1.4rem;
            display: flex;
                flex-direction: column;
                justify-self: center;
                justify-content: center;
                align-self: center;

            i {
                color: $light-color;
                margin-right: 2rem;
            }

            .socials {
                margin-top: 1.4rem;
                
                
                h4 {

                }

                .icons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    i {
                        margin: 1rem;
                        font-size: 2rem;
                    }
                }
            }
            .btn {
                margin-top: 0.8rem;
                padding: 10px 15px;
                background-color: $light-color;
                border: 0px;
                border-radius: 1rem;
                font-weight: bold;
                color: $main-color;
                transition: 1.2s;
                justify-content: center;
                align-self: center;
            }
            .btn:hover {
                color: $light-color;
                background-color: $main-color;
                border: 2px $light-color solid;
            }
        }
    }
}