@import "../../global.scss";

.appointment {
    margin: 4rem;
    background-color: $sec-color;

    .header {
        display: flex;
        justify-content: center;
    }

    .section {

        .row1 {

            img {
                min-width: 600px;
            }
        }

        .row2 {

            
        }
    }
}