@import '../../global.scss';

.navbar {
    margin: 0;
    box-sizing: border-box;
    background-color: $sec-color;
    position: fixed;
    top: 0;
    width: 100%;

    @include mobile {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
        min-height: 10vh;
        align-items: center;
        background-color: $sec-color;


            .logo {

                img {
                    width: 70px;
                    margin: 5px;
                    margin-right: 14rem;
                }
               
            }

        .ulist {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
            margin-right: 3px;
            background-color: $sec-color;

            .list {
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                background-color: $sec-color;
                color: $main-color;
                transition: 1s;
                

                a {
                    display: flex;
                    text-decoration: none;
                    background-color: $sec-color;
                    color: $main-color;
                    font-weight: bold;
                }
            }


        }
        .btn {
            padding: 10px 15px;
            background-color: $light-color;
            border: 0px;
            border-radius: 1rem;
            font-weight: bold;
            color: $main-color;
            transition: 1.2s;
            text-decoration: none;

            Link {
                text-decoration: none;
            }
        }
        .btn:hover {
            color: $light-color;
            background-color: $main-color;
            border: 2px $light-color solid;
        }

    }
}

