@import '../../global.scss';

body {

    .gallery {
        background-color: $light-color;
    
        .section {
           padding: 3rem;

            .col {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    max-width: 600px;
                    height: auto;
                    margin: 0.41rem;
                    
                }
            }
        }
    }
}
