@import '../../global.scss';

body {

    .gallery {
        background-color: $light-color;
        padding: 5rem;
    
        .section {
           padding: 5rem;
          
            .col {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    max-width: 1000px;
                    height: auto;
                    margin: 0.41rem;
                }
            }
        }
    }
}
