$main-color: rgb(18,33,59);
$sec-color: rgb(180, 186, 197);
$light-color: rgb(178,165,47);

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}